.container_flax {
  width: 100%;
  background-color: var(--badges);
}
.container {
  display: flex;
  max-width: 1200px;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  font-family: var(--font-family);
}

.logo {
  cursor: default;
}

.nav {
  display: flex;
  gap: 32px;
  max-width: 1200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.nav a:hover {
  color: var(--button-hover);
}

@media (max-width: 768px) {
  .container {
    justify-content: space-around;
  }
}
