.container {
  display: flex;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  background-color: var(--badges);
}

.logo {
  margin-left: 120px;
  cursor: default;
}

.nav {
  margin-right: 120px;
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.nav a:hover {
  color: var(--button-hover);
}
