.container {
  background-image: url('/Picture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  gap: 16px;
}

.title {
  margin-top: 436px;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;

  border: none;
  border-radius: 12px;
  padding: 12px 32px;
  max-width: 276px;
  width: 100%;
  height: 44px;

  background: var(--button);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
}

.btn:hover {
  background: var(--button-hover);
}

@media (max-width: 376px) {
  .title {
    margin-top: 336px;
    font-weight: 600;
    font-size: 50px;
  }

  .text {
    font-weight: 400;
    font-size: 18px;
  }
}
