.loader {
  color: var(--main);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
  text-align: center;
}

.butto_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  padding: 12px 24px;
  margin-bottom: 24px;
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;

  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: var(--button-hover);
}
